/* Countdown Timer Section */
.countdown {
    padding: 50px 20px;
    text-align: center;
    background-color: #5da05d;
    color: white;
}

.countdown h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#countdown-timer span {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 5px;
}